<?xml version="1.0" encoding="utf-8" ?> 

<configuration>
	<startup>
		<supportedRuntime version="v1.1.4322" /> 
	</startup>

	<appSettings>
		<add key="AccountsArchive" value="C:\\Documents and Settings\\Marco\\Documenti\\ProgettiOpenSource\\Quant\\SavedAccounts\\" />
		<add key="ReportsArchive" value="C:\\Documents and Settings\\Marco\\Documenti\\ProgettiOpenSource\\Quant\\SavedReports\\" />
		<add key="TransactionsArchive" value="C:\\Documents and Settings\\Marco\\Documenti\\ProgettiOpenSource\\Quant\\SavedTransactions\\" />
		<add key="GenomesArchive" value="C:\\Documents and Settings\\Marco\\Documenti\\ProgettiOpenSource\\Quant\\SavedGenomes\\" />
	</appSettings>

</configuration>